
# Import Dependencies

In [2]:

import os
import numpy as np
import pandas as pd


## Import CSV's

In [3]:


file_path = os.path.join("Resources", "Exotic -Greenhouse Frog.csv")
frogs_df = pd.read_csv(file_path)

frogs_df.head()

,Specimen Number,Species ID,Group,Family,Scientific Name,Common Name,Country,State,County,Locality,...,Title 5,Publisher 5,Location 5,Reference 6,Type 6,Date 6,Author 6,Title 6,Publisher 6,Location 6
0,156016,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,NaN,state non-specific,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,753385,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,Baldwin,"Wilkins Creek, headwaters",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,753386,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,Baldwin,"Wilkins Creek, headwaters",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,753387,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,Baldwin,"Wilkins Creek, headwaters",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,753388,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,Baldwin,"Wilkins Creek, headwaters",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:

file_path = os.path.join("Resources", "Exotic - Zebra Mussels.csv")
zebras_df = pd.read_csv(file_path)

zebras_df[["Month", "Day", "Year"]]

      Month   Day  Year
0      10.0  17.0  2013
1      10.0  11.0  2013
2      10.0   NaN  2013
3      10.0   NaN  2013
4      10.0   NaN  2013
...     ...   ...   ...
7925    NaN   NaN  1998
7926    NaN   NaN  1998
7927    NaN   NaN  1999
7928   10.0   5.0  2005
7929   10.0  19.0  2010

[7930 rows x 3 columns]


### Structure Data

In [69]:
wanted_columns = ["Specimen Number", "Species ID", "Group", "Family", "Scientific Name", "Common Name", "Country", "State", "County", "Locality", "Latitude", "Longitude", "Drainage Name", "Year", "Month", "Day"]
zebras_df = zebras_df[wanted_columns]
zebras_df = zebras_df.fillna(1)
zebras_df['Recorded Date'] = zebras_df.Month.astype(str) + zebras_df.Day.astype(str) + zebras_df.Year.astype(str)
zebras_df.drop(['Year', 'Month', 'Day'], axis='columns', inplace=True)

In [71]:
zebras_df.head()

,Specimen Number,Species ID,Group,Family,Scientific Name,Common Name,Country,State,County,Locality,Latitude,Longitude,Drainage Name,Recorded Date
0,615085,5,Mollusks-Bivalves,Dreissenidae,Dreissena polymorpha,zebra mussel,Canada,Manitoba,1,"Lake Winnipeg, at Winnipeg Beach, Manitoba, Ca...",50.50821,-96.96738,1,10.017.02013
1,615297,5,Mollusks-Bivalves,Dreissenidae,Dreissena polymorpha,zebra mussel,Canada,Manitoba,1,"Lake Winnipeg, at Gimli Harbour, Manitoba, Canada",50.63182,-96.98356,1,10.011.02013
2,615300,5,Mollusks-Bivalves,Dreissenidae,Dreissena polymorpha,zebra mussel,Canada,Manitoba,1,"Lake Winnipeg, at Willow Point, Manitoba, Canada",50.60386,-96.95781,1,10.01.02013
3,615301,5,Mollusks-Bivalves,Dreissenidae,Dreissena polymorpha,zebra mussel,Canada,Manitoba,1,"Lake Winnipeg, at Silver Harbour, Manitoba, Ca...",50.81161,-96.96326,1,10.01.02013
4,615302,5,Mollusks-Bivalves,Dreissenidae,Dreissena polymorpha,zebra mussel,Canada,Manitoba,1,"Lake Winnipeg, at Balsam Bay Harbour, Manitoba...",50.47381,-96.58357,1,10.01.02013

In [65]:
wanted_columns = ["Specimen Number", "Species ID", "Group", "Family", "Scientific Name", "Common Name", "Country", "State", "County", "Locality", "Latitude", "Longitude", "Drainage Name", "Year", "Month", "Day"]
frogs_df = frogs_df[wanted_columns]
frogs_df = frogs_df.fillna(1)
frogs_df['Recorded Date'] = frogs_df.Month.astype(str) + frogs_df.Day.astype(str) + frogs_df.Year.astype(str)
frogs_df.drop(['Year', 'Month', 'Day'], axis='columns', inplace=True)

In [66]:
frogs_df.head()

,Specimen Number,Species ID,Group,Family,Scientific Name,Common Name,Country,State,County,Locality,Latitude,Longitude,Drainage Name,Recorded Date
0,156016,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,1,state non-specific,32.79157,-86.82763,South Atlantic-Gulf Region,1.01.01991
1,753385,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,Baldwin,"Wilkins Creek, headwaters",30.72800,-87.89500,Mobile-Tensaw,3.013.02012
2,753386,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,Baldwin,"Wilkins Creek, headwaters",30.72800,-87.89500,Mobile-Tensaw,3.014.02012
3,753387,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,Baldwin,"Wilkins Creek, headwaters",30.72800,-87.89500,Mobile-Tensaw,3.015.02012
4,753388,61,Amphibians-Frogs,Eleutherodactylidae,Eleutherodactylus planirostris,Greenhouse Frog,United States of America,AL,Baldwin,"Wilkins Creek, headwaters",30.72800,-87.89500,Mobile-Tensaw,5.08.02012


### Combine Data

In [ ]:
zebras_frogs = pd.concat([survey_sub, survey_sub_last10], axis=0)


### NULL's and shit